<app-loading *ngIf="isLoading" message="Por Favor espere...."></app-loading>
<div *ngIf="!isLoading" class="container-fluid fondo vh-100">
  <h3 class="text-center pt-5">Bienvenido {{this.nameUser | titlecase}}</h3>
  <div class="d-flex justify-content-end gap-3 mt-3">
    <button class="btn btn-success d-flex align-items-center gap-2" routerLink="/userHome/{{userId}}/createVideogame">
      Crear Videojuego
    </button>
    <button class="btn btn-info d-flex align-items-center gap-2" routerLink="/userHome/{{userId}}/sales">Ver
      Ventas
    </button>
  </div>

  <table class="table table-striped table-hover mt-4">
    <thead class="table-dark text-uppercase">
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Plataforma</th>
        <th>Precio</th>
        <th>Número de Copias</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let videojuego of videojuegos ; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ videojuego.nombre }}</td>
        <td>{{ videojuego.plataforma }}</td>
        <td>S/{{ videojuego.precio }}</td>
        <td>{{ videojuego.nuCopias }}</td>
        <td>
          <button class="btn btn-primary text-end" routerLink="/userHome/{{this.userId}}/videogame/{{videojuego.id}}">
            Ver Detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>