<div class="container mt-5">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>N°</th>
          <th>Nombre</th>
          <th>Plataforma</th>
          <th>Genero</th>
          <th>Número de Copias</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let videojuego of videojuegos ; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ videojuego.nombre }}</td>
          <td>{{ videojuego.plataforma }}</td>
          <td>{{ videojuego.genero }}</td>
          <td>{{ videojuego.nuCopias }}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/userHome/1/videogame', videojuego.id]">
              Ver Detalles
            </button>
        
          </td>
        </tr>
      </tbody>
    </table>
  </div>


