.hero {
    background: url('https://ibb.co/hFBV1bLL');
    height: 400px;
    color: white;
    display: list-item;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }


