<div class=" container-fluid text-center  hero">
    <h1>BIENVENIDOS A POLVOS AZULES</h1>
    <p>Encuentra tus videojuegos favoritos en un solo lugar!...</p>
</div>

<section id="about" class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">About Us</h2>
        <p class="text-center">We are passionate about delivering the best gaming experiences. From the latest AAA
            titles to indie gems, we've got something for every gamer.</p>
    </div>
</section>


<footer class="bg-dark text-white text-center py-3">
    <p>Video Game Store &copy; 2025. All rights reserved.</p>
</footer>