<div class=" container-fluid text-center  hero">
    <h1>BIENVENIDOS A POLVOS AZULES</h1>
    <p>Encuentra tus videojuegos favoritos en un solo lugar!...</p>
</div>

<section id="about" class="bg-light py-5">
    <div class="container">
        <div class="row p-5 align-items-center">
            <div class="col-12 col-sm-12 col-md-6 order-sm-1 text-center">
                <img class="img-fluid" src="https://i.ibb.co/KpDy5VPV/portada2.webp" alt="Portada de Polvos Azules">
            </div>
            <div class="col-12 col-sm-12 col-md-6 order-sm-2 ">
                <p>
                    Somos un equipo de tres desarrolladores trabajando en la creación de una página web para la tienda de
                    videojuegos <strong>Polvos Azules</strong>. Nuestro objetivo es proporcionar una plataforma moderna y segura donde
                    los clientes puedan explorar y comprar videojuegos de manera rápida y sencilla.
                </p>
                <p>
                    Para lograr esto, estamos utilizando <strong>Spring Boot</strong> en el backend, implementando <strong>Spring Security</strong> con
                    autenticación basada en tokens para garantizar la seguridad de los usuarios. En el frontend, usamos
                    <strong>Angular</strong> para ofrecer una experiencia fluida e interactiva.
                </p>
                <p>
                    Este proyecto busca no solo digitalizar la tienda, sino también mejorar la experiencia del usuario y
                    facilitar la gestión de productos y ventas en línea.
                </p>
            </div>
        </div>
    </div>
</section>



<footer class="bg-dark text-white text-center py-3">
    <p>Video Game Store &copy; 2025. All rights reserved.</p>
</footer>